#chat-screen {
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  background-color: #abc1d1;
  z-index: 2;
}

#chat-screen .chatting-header {
  background-color: #abc1d1;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.main-chat {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp {
  color: white;
  opacity: 0.5;
  background-color: var(--gray);
  border-radius: 30px;
  padding: 8px 15px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  /* width를 준 이유 : 브라우저 크기에 맞게 사이즈 조정 */
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.message__author {
  color: var(--gray);
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
}

.message__box {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 10px 12px;
  border-radius: 14px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__time {
  color: var(--gray);
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}
.message-row--own .message__box {
  flex-direction: row-reverse;
}

/* .message-row--own .message__bubble {
  order: 1;
}
.message-row--own .message__time {
  order: 0;
} */
