#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1.5px solid rgba(0, 0, 0, 0.06);
  padding: 10px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.4);
}
