.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestion {
  border-top: var(--main-border);
  margin-top: 15px;
  padding-top: 30px;
}

.more-suggestion__title {
  margin: 15px;
  /* padding: 15px; */
}

.more-suggestion__icons {
  display: flex;
  /* flex-direction: column; */
  align-items: left;
  padding: 20px;
}
.more-suggestion__icon-image img {
  width: 55px;
  height: 55px;
}
