.main-screen.screen-setting {
  border-bottom: solid 1.2px rgba(0, 0, 0, 0.1);
}

.settings-setting {
  padding: 20px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings-setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings-setting:first-child,
.settings-setting:nth-child(2) {
  border-bottom: 1.2px solid rgba(0, 0, 0, 0.04);
}

.settings-setting__column:last-child {
  opacity: 0.5;
}
