.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--notification);
  border-radius: 50%;
}
.notification {
  width: 25px;
  height: 25px;
  color: white;
  font-weight: 600;
}

.point {
  background-color: var(--notification);
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  right: 2px;
  top: -7px;
}
