.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  position: relative;
}

.screen-header__icons span {
  margin-left: 5px;
}
.screen-header__icons i {
  padding: 0px 10px;
}

@keyframes wheelCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: wheelCog 2s linear infinite;
}
